.formulario {
    background: red;
    padding: 10px 0 40px 20px;
    /* arriba, derecha, abajo, izquierda */
}

.formulario_input {
    padding: 6px 10px;
    /* arriba y abajo */
    width: 90%;
    background: black;
    color: red;
    margin: 10px;
}

.formulario_submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background: red;
    color: white;
    width: 50%;
}