div {
    /* se requiere ancho y alto para que pueda dar un color */
    background: red;
    width: 300px;
    height: 100px;
}

/* h1 {
    background: blue;
    height: 300px;
} */

input {
    width: 90%;
}

form {
    width: 300px;
}